html {
    font-size: 10px;
}

body {
    background-color: #30343F;
}

h1 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'Monoton';
    font-weight: normal;
    font-style: normal;
    font-size: 8rem;
}

h2 {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-family: 'Fasthand';
    font-weight: normal;
    font-style: normal;
    font-size: 6.5rem;
}

h3 {
    margin-top: 1rem;
    font-family: 'Oswald';
    font-size: 4.5rem;
    color: #1E2749;
}

p {
    margin-bottom: 2rem;
    font-family: 'Oswald';
    font-weight: normal;
    font-size: 3rem;
}

img {
    margin-top: 2rem;
    width: 90%;
    margin-bottom: 1rem;
}

header {
    margin: auto;
    text-align: center;
    color: #E4D9FF;
    background-color: #1E2749;
    background-image: url("/assets/imgs/vinyl_2.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #E4D9FF;
    border-radius: 15px;
}

.container {
    max-width: 95%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
    align-items: stretch;
    align-content: space-around;
}

.card {
    box-shadow: 0 4px 8px 0 #FAFAFF;
    max-width: 350px;
    margin: 4rem auto;
    text-align: center;
    font-family: 'Oswald';
    background-color: #E4D9FF;
    border-radius: 15px;
    padding: 1rem;
}

.price {
    color: #1E2749;
    font-size: 4rem;
    font-weight: bold;
}

footer p {
    box-shadow: 0 4px 8px 0 #1E2749;
    background-color: #273469;
    color: #FAFAFF;
    width: 95%;
    text-align: center;
    font-family: 'Oswald';
    font-size: 2rem;
    border-radius: 15px;
    font-family: 'Poppins';
    font-weight: normal;
    margin: auto;
    padding: 1rem;
}

footer a {
    color: #E4D9FF;
}
